@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --tiger-bg-clr: #503018;
    --wolf-bg-clr: #1e2124;
    --dragon-bg-clr: #7e0806;
    --loin-bg-clr: #5d2917;
    --devil-bg-clr: #0c1119;
    --main-clr: #fff;
    --border-clr: #f1ef60;
    --text-clr-1: #b1e7ac;
    --text-clr-2: #a0d6da;
    --p-font-size: 1em;
    --heading-font-size: 3em;
}
